@import '../../styles/color';
@import '../../styles/media';
@import '../../styles/spacing';

.root {
    display: flex;
    min-width: 12.5rem;
    align-items: end;
    flex-grow: 1;
    justify-content: space-between;
}
