@import '../../styles/color';
@import '../../styles/media';
@import '../../styles/spacing';

.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 12.5rem;
    align-items: end;
    flex-grow: 1;
    margin-left: $spacing-1-5;
}
