@import '../../styles/color';
@import '../../styles/media';
@import '../../styles/spacing';

.root {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-width: 12.5rem;
    row-gap: $spacing-1-5;
    padding-left: $spacing-3;
    justify-content: space-between;

}

@media only screen and (min-width: #{$media-tablet + 1}) {
    .root {
        flex-direction: column;
        border-left: 1px solid $color-divider;
    }
}